@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');
body {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url(https://images5.alphacoders.com/564/thumb-1920-564931.jpg);*/
    display: none;

}

* {
    user-select: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

::placeholder{
    color:#e0ecff;
}

input{
    color:#e0ecff;
}
.container {
    position: relative;
    width: 300px;
    height: 300px;
    padding-top: 8px;
    padding-left: 15px;
    background-color: rgb(36, 36, 36);
    border: solid 2px rgb(255, 0, 0)
   /* border-radius: 15px 15px;*/
}

.container small {
    position: relative;
    top: 5px;
    color:#e0ecff;
    font-size: 9px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.container span img {
    max-width: 18px;
}

.container span {
    color: #e0ecff;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.container .box {
    margin-top: 10px;
}

.container .box:nth-child(2) {
    margin-top: 20px;
}

.container .box:nth-child(3) {
    margin-top: 20px;
}

.container .box #title {
    font-size: 13px;
}

.container .item {
    position: relative;
    width: 94%;
    height: 40px;
    display: flex;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        red
      ) 1 100%;
      text-transform: uppercase;
}

.container .item .litro {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

#amount {
    border: 0;
    color: #fff;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 150;
    background: transparent;
}


.modal {
    background: transparent;
    position: absolute;
    top:50%;
    left: 50%;
    width: 300px;
    height: 80px;
    color: #ffff;
    padding: 14px;
    font-size: 10px;
    text-align: center;
    border-radius: .3rem;
    text-transform: uppercase;
    transform: translate(-50%,-50%);
    background-color: rgba(3, 12, 26,0.95);
}

.modal b {
    position: relative;
    top: 6px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.modal .accept {
    position: absolute;
    border: 0;
    left: 15px;
    width: 80px;
    bottom: 15px;
    outline: none;
    color: #e0ecff;
    font-size: 12px;
    font-weight: 200;
    padding: 5px 7px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: #08234d;
    transition: 0.2s;
}

.modal .recuse {
    position: absolute;
    border: 0;
    right: 15px;
    width: 80px;
    bottom: 15px;
    outline: none;
    color: #e0ecff;
    font-size: 12px;
    padding: 5px 7px;
    font-weight: 200;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: #08234d;
    transition: 0.2s;
}

.modal .btninfo:hover {
    background-color: red;
    cursor: pointer;
}

.container .item button {
    position: absolute;
    display: flex;
    top: 46%;
    border: 0;
    width: 20px;
    height: 20px;
    color: white;
    padding-top: 3px;
    font-weight: 100;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transform: translate(0,-50%);
    font-family: 'Poppins', sans-serif;
    border-radius: 15px 15px;
    transition: 0.2s;
    background: red;
    font-size: 20px;
}
.container .item button:hover{
    cursor: pointer;
    background: red;
}

.container .item button:nth-child(1) {
    left: 5px;
}

left {
    position: relative;
    display: flex;
    width: 150px;
    height: 300px;
    padding: 15px;
    font-size: 7px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
    /*border-radius: 20px;*/
    border: solid 2px red;
    background-color: rgb(36, 36, 36);
}

left img {
    position: absolute;
    left: 50%;
    max-height: 70px;
    max-width: 100px;
    transform: translate(-50%,0);
}

left p {
    font-size: 13px;
    margin-top: 70px;
    letter-spacing: 1px;
}
#stock{
    color:#e0ecff;
}
.act {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
    background: transparent;
}
left .act #retirar{
    margin-top: 130px;
    width: 90%;
    height: 35px;
}
left .act #guardar{
    width: 90%;
    height: 35px;
    margin-top: 10px;
}

left .act button {
  border: 0;
  width: 90%;
  height: 40px;
  color:#d7e7ff;
  outline: none;
  font-weight: 300;
  letter-spacing: 1px;

  background: transparent;
  /*background: #061b3b;*/
  /*background: #062047;*/
  /*border-radius: 3px;*/
  background: rgb(255,255,255,0.01);
  transition: 0.1s;
  box-shadow: 2px 0px 0px 0px red inset,
             -2px 0px 0px 0px red inset;
  transition: 0.2s;
}

left .act button:hover {
  opacity: 1;
  color:#d7e7ff;
  font-weight: 400;
  background: rgb(64,88,128,0.2);
  /*box-shadow: 2px 1px 0px 0px #80b1ff inset,
             -2px -1px 0px 0px #80b1ff inset;*/
  cursor: pointer;
}

left .act button:active {
  background: linear-gradient(to right, #26354d, #26354d);
}

left .act button:last-child {
  border-top: 0px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}