@font-face {
  font-family: 'Korolev';
  src: url('../fonts/Korolev.ttf') format('truetype');
}
@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Medium.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  font-family: 'Korolev';
}

.renta {
  background: rgb(36, 36, 36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 35vh 17vh;
  position: fixed;
  left: 50%;
  border: 2px solid red;
  transform: translateX(-50%);
  top: 13vh;
  border-radius: 3vh;
}

.gridovi{
	line-height: 6vh;
	width: 8vh;
	height: 8.2vh;
  border-style: solid;
  border-color: rgb(221, 2, 2);
  border-width: 0.01vh;
  border-radius: 0.8vh;
  text-align: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
  display: inline-flex;
  margin: 0.0vh .5vh;
}
.grajn{
  position: absolute;
  top: 60vh;
}

.rentaj{
  top: 26vh;
  padding: 3vh 15vh;
  position: relative;
  border: 2px solid red;
  background-color: rgba(31, 31, 31, 0);
  border-radius: 0.5vh;
  transition: all ease-in-out 0.3s;
}
.stanje{
  position: relative;
  top: -35vh;
  left: 1vh;
  transition: all ease-in-out 0.2s;
  color: rgb(214, 214, 214);
  z-index: 9999;
  font-size: 2vh;
  max-width: 0vh;
  display: none;
}
.rentaj:hover{
  cursor: pointer;
  background-color: #5f1c1cb7;
}
.gra{
  position: relative;
  top: 3.5vh;
  left: 0vh;
  text-align: center;
  font-size: 1.5vh;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#auto{
  display: none;
}
#auto2{
  display: none;
}
.auto1{
  position: absolute;
  height: 15vh;
  transform: translateX(-50%);
  top: 12vh;
}

.textFont{
  position: fixed;
  top: 3vh;
  left: 6vh;
  text-align: center;
  font-size: 3.5vh;
  color: rgb(255, 255, 255);
}

.opis{
  position: fixed;
  top: -5vh;
  left: -6vh;
  text-align: center;
  font-size: 3.5vh;
  color: rgb(255, 255, 255);
  transform: translateX(-50%);
}


#dzamija{
  position: relative;
  top: -32vh;
  left: 15.5vh;
  transition: all ease-in-out 0.2s;
  color: rgb(214, 214, 214);
  z-index: 9999;
}
#dzamija:hover{
  opacity: 0.9;
  transition: all ease-in-out 0.2s;
  transform: scale(1.05);
  cursor: pointer;
  color: rgb(255, 255, 255);
/*   position: absolute; */
}